.header{
    background-color: red;
    width: 100%;
    position: fixed;
}

.toolbar{
    display: flex;
    align-items: center;
    height: 64px; 
    padding:0 24px;
    justify-content: space-between;
}

.main{
    display: flex;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.navbar{
    background-color: blue;
    width: 350px;
    padding: 24px;
}

.feed{
    background-color: chartreuse;
    width: 100%;
    padding: 24px;
}